.projects {
    text-align: justify;
    margin-left: 75px;
}

.projects h1 {
    font-size: 45px;
}


@media (max-width: 576px) {
    .projects {
        text-align: justify;
        margin-left: 3%;
    }

    .projects h1 {
        font-size: 2em;
    }
}